<div class="about row">
  <div class="small-12 columns"><h3>About</h3></div>
  <div class="small-12 columns"><b>Email:</b> <a href="mailto:{{model.email}}?Subject=Meow">{{model.email}}</a></div>
  <div class="small-12 columns"><a {{action 'editHome'}}><b>Hometown:</b> {{model.hometown}}</a></div>
  {{#if showHometown}}
    <div class="small-4 columns">
    <form {{action 'submitHometown' hometown on='submit'}}>
      <div class="left">{{input value=hometown placeholder="Enter hometown"}}</div>
      <div class="left close-container"><a {{action 'editHome'}} class="close"><i class="fa fa-times"></i></a></div>
    </form>
    </div>
  {{/if}}
  
  <div class="small-12 columns"><a {{action 'editRelationship'}}><b>Relationship:</b> {{model.relationshipStatus}}</a></div>
  {{#if showRelationship}}
    <div class="small-4 columns left">
      <form {{action 'submitRelationship' relationship on='submit'}}>
        <div class="left">{{input value=relationship placeholder="Enter relationship"}}</div>
        <div class="left close-container"><a {{action 'editRelationship'}} class="close"><i class="fa fa-times"></i></a></div>
      </form>
    </div>
  {{/if}}
</div>