<div class="row about">
  <div class="small-12 columns"><h3>About</h3></div>
  <div class="small-12 columns"><b>Email:</b> <a href="mailto:{{model.email}}?Subject=Meow">{{model.email}}</a></div>
  <div class="small-12 columns"><a {{action 'editHome'}}><b>Hometown:</b> {{model.hometown}}</a></div>
  {{#if showHometown}}
    <div class="small-4 columns">
    <form {{action 'submitHometown' hometown on='submit'}}>
      {{input value=hometown placeholder="Enter hometown"}}
    </form>
    </div>
  {{/if}}
  
  <div class="class-12 columns"><a {{action 'editRelationship'}}><b>Relationship:</b> {{model.relationshipStatus}}</a></div>
  {{#if showRelationship}}
    <div class="small-4 columns left">
    <form {{action 'submitRelationship' relationship on='submit'}}>
      {{input value=relationship placeholder="Enter relationship"}}
    </form>
    </div>
  {{/if}}
</div>