<a {{action "like" item}}>Like</a>

<span data-dropdown="like-{{elementId}}" aria-controls="like={{elementId}}" aria-expanded="false">
  ({{likes.length}})
</span>

<div id="like-{{elementId}}" class="f-dropdown content" data-dropdown-content aria-hidden="true" tabindex="-1">
  Likes:
  <ul class="no-bullet">
    {{#each likes as |like|}}
      <li>{{like.user.firstName}} {{like.user.lastName}}</li>
    {{/each}}
  </ul>
</div>