<div class="row">
  <div class="small-12 cover"><img src={{model.coverPhoto}}></div>
</div>

<div class="wrap">
  <div class="row profile-photo">
    <div class="small-4 columns"><img src={{model.photo}}></div>
    <div class="small-4 columns name">{{model.fullName}}</div>
  </div>

{{about-profile model=model}}

  <div class="row">
    <div class="small-12 columns">

    <h3>Hobbies:</h3>
    {{#if model.hobbies}}
    <ul>
      {{#each model.hobbies as |hobby|}}
        <li>{{hobby.hobbyName}}</li>
      {{/each}}
    </ul>
    {{else}}
      No hobbies
    {{/if}}

    </div>
  </div>
</div>