<div class="row">
  <div class="small-12 cover"><img src={{model.coverPhoto}}></div>
</div>

<div class="wrap">
  <div class="row profile-photo">
    <div class="small-4 columns"><img src={{model.photo}}></div>
    <div class="small-4 columns name">{{model.fullName}}</div>
  </div>

  <div class="row about">
    <div class="small-12 columns"><h3>About</h3></div>
    <div class="small-12 columns"><b>Email:</b> <a href="mailto:{{model.email}}?Subject=Meow">{{model.email}}</a></div>
    <div class="small-12 columns"><b>Hometown:</b> {{model.hometown}}</div>
    <div class="class-12 columns"><b>Relationship:</b> {{model.relationshipStatus}}</div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      {{#each model as |cat|}}

        <h3>Hobbies:</h3>
        {{#each cat.hobbies as |hobbies|}}
          {{hobbies.hobbyName}}
        {{/each}}

      {{/each}}
    </div>
  </div>
</div>